@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;700&display=swap');

:root {
  --background: #fffff8;
  --foreground: #111;
  --grey: rgb(187, 187, 187);
  --lghtgrey: rgb(230, 230, 230);
  --green: #008A07;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1.5em;
  counter-reset: sidenote-counter;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

.flex-grow {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.flex-shrink {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}
.flex {
  display: -webkit-flex !important;
  display: flex !important;
}

button {
  font-family: 'Geist', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: var(--background);
}

.small-font {
  font-size: 0.75em;
  text-align: center;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  margin: 1.3rem 0rem;
  font-size: 0.9rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--grey);
}

h3 {
  font-weight: 400;
  font-size: 0.7rem;
  margin: 1rem 0rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--grey);
}

hr {
  display: block;
  height: 10px;
  width: 55%;
  border: 0;
  border-top: 1px solid var(--grey);
  margin: 1em 0;
  padding: 0;
}

@media(max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1em;
  }
}

button {
  border: none;
  padding: 10px 15px;
  background-color: var(--green);
  transition: all .2s ease-in-out;
  min-width: 6px;
  min-height: 6px;
}

button:hover {
  cursor: pointer;
  scale: 1.03;
}

button:disabled {
  cursor: not-allowed;
}

input[type="text"] {
  padding: 0px 10px;
  outline: none;
  border: 0.5px solid var(--lghtgrey);
  min-height: 100%;
  width: 100%;
  color: var(--background);
}

.section-border {
  padding: 1 0em;
}

p.fine-print {
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1;
}

p.subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

section {
  background-color: var(--background);
  padding: 0.5em;
  margin-top: 2px;
}